* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  width: 1440px;
  margin: 0 auto;
}

body {
  width: 100%;
  height: 100%;
  background-color: rgb(241, 241, 241);
}
.joinContents {
  background-color: #fefefe;
  box-shadow: 1px 2px 5px 1px grey;
  margin: 15% auto;
  padding: 40px;
  border: none;
  width: 700px;
  height: 800px;
  border-radius: 30px;
}
.joinContents {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 60px;
  border: 1px solid #888;
  width: 700px;
  height: 890px;
  border-radius: 30px;
}
.univ-name {
  font-size: x-large;
  font-weight: bold;
  padding-bottom: 15px;
}
.modal-title {
  font-size: xx-large;
  font-weight: 800;
  padding-bottom: 15px;
}
.guid {
  font-size: large;
  font-weight: bold;
  color: gray;
  opacity: 0.7;
  padding-bottom: 30px;
}
input {
  border: none;
  background-color: rgb(243, 241, 241);
  width: 100%;
  height: 55px;
  border-radius: 10px;
  margin-bottom: 30px;
}
input::placeholder {
  font-size: large;
  font-weight: bold;
  color: #888;
  opacity: 0.7;
  padding-left: 15px;
}
.new-close {
  text-align: center;
  margin-top: 10px;
}
#joinNew {
  width: 100px;
  height: 50px;
  font-size: 1rem;
  border-radius: 7px;
  cursor: pointer;
  background-color: black;
  color: white;
  margin-right: 5px;
}
#joinClose {
  width: 100px;
  height: 50px;
  font-size: 1rem;
  border-radius: 7px;
  cursor: pointer;
  background-color: white;
  color: black;
  margin-left: 5px;
}
